
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.layout {
    width: 700px;
    margin: 40px auto;
    border: 3px solid black;
    background-color: white;
    padding: 10px 12px;
}

.browser {
    border: 2px solid black;
    background-color: #d9d9d9;
    margin-bottom: 10px;
}

.browser-header {
    background-color: #bfbfbf;
    border-bottom: 2px solid black;
    text-align: center;
    font-weight: bold;
    padding: 6px;
}

.address-bar {
    background-color: white;
    border-top: 2px solid black;
    padding: 6px 10px;
    font-family: monospace;
}

.box {
    border: 2px solid black;
}

.hijau {
    background-color: lightgreen;
    height: 90px;
    margin: 12px 0;
}

.bottom-area {
    display: flex;
    gap: 12px;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.left-column {
    width: 30%;
}

.right-column {
    width: 70%;
}

.kuning {
    background-color: yellow;
    height: 90px;
}

.oranye {
    background-color: rgb(255, 123, 0);
    height: 90px;
}

.biru {
    background-color: deepskyblue;
    height: 90px;
}
